/*Areglo del estilo del botón*/
#switch {
    margin-left: 5rem;
}


.switchDark{
    background-color: #3494b1;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}
.switchDark span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    background: none;
}
.switchDark::after{
    display: block;
    background: #fffbf5;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: all .5s ease;
    box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, .5);
    content: "";
}
.switchDark.active{
    background: #fdd384;
}
.switchDark.active::after{
    left: unset;
    right: 0;
}
    body.dark {
        background: #4D4D4D;
        color: #fff;
    }

    body.dark #autos,
    body.dark #juguetes,
    body.dark #muebles,
    body.dark .list-group-item,
    body.dark .list-group,
    body.dark .comment,
    body.dark .btn-light

    {
        background-color: #000000;
        color: #fff;
    }

    body.dark footer {
        background-color: #000000;
        padding: 1%;
    }
    

/*-------------------Diseño del carrusel------------------*/

.images-product {
    margin-left: 25%;
    display: flex;
    
    width: 600px;
    height: 430px;
}

.images-product img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    
}

.images-product img:hover {
    cursor: crosshair;
    width: 90%;
    opacity: 1;
    filter: contrast(120%);
}

/*-------------------Fin diseño del carrusel------------------*/
