.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Verdana", serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.mostrarUser {
  color: white;
  margin-left: 0.5rem;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.comment p {
  margin: 5px 0;
}

.btn-center {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
}
.btn-center button {
  width: 15rem;
}

.btn-eliminar {
  display: flex;
  justify-content: end;
}

.product-titulo {
  text-align: center;
}
.infoproduct-titulo {
  text-align: center;
  margin-bottom: 3rem;
}
.btn-eliminar button{
  width: 10rem;
}

.title-carrito {
  text-align: center;
  margin-bottom: 3rem;
}

.envios {
  margin-top: 2rem;
  font-size: 1.1rem;
}

.btnPagarCarro {
  margin-top: 2rem;
  width: 300px;
}

.contenido {
  font-size: 1.2rem;
  background-color: #f3f3f3;
  border-radius: .5rem;
  padding: .5rem;
}

#related-products {
  margin-top: 3rem
}
#related-products h2 {
  margin-bottom: 1.5rem
}

.btn-publicar {
  width: 10rem;
}

/*---------------------------------ESTRELLITAS----------------------------------------- */

/* Estilo para estrellas llenas */
.filled {
  color: rgb(212, 152, 0);
}

/*---------------------------------ESTRELLITAS----------------------------------------- */

/* Estilos para separar los comentarios y las imagenees */
body {
  font-family: "Raleway", sans-serif;
}

.navbar {
  margin-bottom: 100px;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.h2-prodname {
  margin-bottom: 2rem;
}
.product-image {
  text-align: center;
}

.linea {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.product-image img {
  max-width: 100%;
  height: auto;
}

.h2-comments {
  text-align: center;
  margin: 5rem 0 2rem 0;
  margin-right: 800px;
}

.comments-info {
  margin-left: 1px;
}

.imgilustrativas {
  margin-top: 2rem;
}

.comment {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.images-product {
  text-align: center;
}

#comment-form {
  margin-top: 3rem;
}

.select {
  width: 100px;
  border: 1px rgb(174, 174, 174) solid;
  border-radius: 5px;
  padding: 5px;
}

/* Estilos para separar los comentarios y las imagenees */

.input-cantidad {
  width: 60px;
}

/*Carrito*/
.formulario {
  margin-top: 2rem;
}

.formulario h3 {
  margin-bottom: 1.5rem;
}

.pago-forma {
  margin-top: 1.5rem;
}

#formularioPago h4{
  text-align: center;
  margin-bottom: 2rem;
}

#formularioPago {
  border-radius: 1rem;
}

.btnmodal button {
  width: 15rem;
  border-radius: 2rem;
  padding: .5rem;
}

#neonEffect button {
  width: 100%;
  border-radius: 1rem;
  padding: .3rem;
  margin-top: 3rem;
}

/*Carrito costos*/
#costosDiv {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#costosDiv h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

#costosDiv p {
  font-size: 1.1rem;
  color: #666;
  margin: 10px 0;
}

#costosDiv span {
  font-weight: bold;
  color: #333;
}

#costosDiv span#subtotalCompra {
  color: #007BFF;
}

#costosDiv span#costoEnvio {
  color: #28A745;
}

#costosDiv span#precioTotal {
  color: #DC3545;
}

#clearRangeFilter, #Ver-condiciones, footer a{
  text-decoration: none;
}

#vender, #related-products{
  margin: 3%;
}

/*-------------------Diseño del carrusel------------------*/

.images-product {
  margin: 0 auto;
  display: flex;

  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.images-product img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
  
}

.images-product img:hover {
  cursor: crosshair;
  width: 80%;
  opacity: 1;
  filter: contrast(120%);
}

/*-------------------Fin diseño del carrusel------------------*/