/*Areglo del estilo del botón*/
#switch {
    margin-left: 5rem;
}

/* diseño responsive del switch en el dropdown menu */

@media screen and (max-width: 1000px) {
    #switch {
        margin-left: 0;
        margin-top: 5%;
    }
    
}
.switchDark{
    background-color: #3494b1;
    display: flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-between;
}
.switchDark span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #fff;
    background: none;
}
.switchDark::after{
    display: block;
    background: #fffbf5;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 50%;
    transition: all .5s ease;
    box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, .5);
    content: "";
}
.switchDark.active{
    background: #fdd384;
}
.switchDark.active::after{
    left: unset;
    right: 0;
}

/*-------------------Diseño del body y del main------------------*/
    body.dark, body.dark main {
        background: #4D4D4D;
        color: #fff;
    }

/*-------------------Diseño de los elementos de todas las páginas------------------*/
    body.dark #autos,
    body.dark #juguetes,
    body.dark #muebles,
    body.dark .list-group-item,
    body.dark .list-group,
    body.dark .comment,
    body.dark .btn-light,
    body.dark #contenedorModal.mostrar form,
    body.dark #product-div-dark
    {
        background-color: #000000;
        color: #fff;
    }
   
    body.dark #contenedorModal.mostrar {
        background-color: rgb(34, 34, 34);
    }

    body.dark .btn-light {
        border-color: #4D4D4D;
    }

    /*------Se le quita la propiedad important al boostrap para que aplique los cambios-------*/

body.dark .bg-light {
    background-color: unset !important;
}


/*-------------------Diseño del dropdown menú------------------*/

body.dark .dropdown-menu, body.dark .colordark, body.dark .dropdown-item {
    border-color: #4D4D4D;
    background-color:  #212529;
    color: #fff;
    
}

/*-------------------Diseño de los a ------------------*/

body.dark #clearRangeFilter, body.dark #Ver-condiciones, body.dark footer a, body.dark #MyProfileSelec{
    color: aqua;
}

/*-------------------Diseño del footer------------------*/
    body.dark footer {
        background-color: #000000;
        padding: 1%;
       
    }

    body.dark footer p {
        color: #ffffff;
    }